@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yantramanav', sans-serif;
}
.App{
    margin:2rem 0 20px 0;
    padding: 0 20px 0 20px;
    min-width: 320px;
    max-width: 1500px;
  /* background-color: pink; */
}
@media only screen and (min-width:568px){
  .App{
    /* background-color: rgb(147, 20, 158); */
  }
}
@media only screen and (min-width:990px){
  .App{
    padding: 0;
    /* background-color: rgb(16, 6, 17); */
  }
}