@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
.productInfo {
  /* background-color: rgb(241, 177, 220); */
}
.productInfo .productInfo__subMenu {
  background-color: rgb(135, 135, 221);
}
.productInfo .productDetail {
  /* background-color: rgb(244, 244, 247); */
  margin: 28px 0;
}
.productInfo .productDetail .productImages {
  display: flex;
  justify-content: center;
}
.productInfo .productDetail .productImages > img {
  width: 35vh;
  display: flex;
  margin-top: 1rem;
}
.productInfo .productDetail .productData {
  margin-top: 32px;
  background-color: rgb(248, 170, 141);
}
.productInfo .productDetail .productData > h1 {
  font-size: 1.4rem;
}
.productInfo .productDetail .productData > .description {
  background-color: palevioletred;
}
.productInfo .productDetail .productData > .priceAndShoppingCar {
  margin-top: 10px;
  background-color: rgb(238, 226, 230);
}
.productInfo .productDetail .productData > .priceAndShoppingCar .flexcontainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
  background: indigo;
}
.productInfo .productDetail .productData > .priceAndShoppingCar .flexcontainer > h3 {
  width: 50%;
  font-size: 0.9rem;
  color: rgb(141, 140, 140);
  font-family: "Quicksand", sans-serif;
}
.productInfo .productDetail .productData > .priceAndShoppingCar .flexcontainer > h3 > span {
  display: block;
  color: black;
}
.productInfo .productDetail .productData > .priceAndShoppingCar .flexcontainer .Counter > h3 {
  font-size: 0.9rem;
  color: rgb(141, 140, 140);
  font-family: "Quicksand", sans-serif;
}
.productInfo .productDetail .productData > .priceAndShoppingCar .carBtn {
  display: block;
  width: 100%;
  color: white;
  padding: 15px;
  font-size: 1.1rem;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  background-color: #0e0c0c;
}
@media only screen and (min-width: 568px) {
  .productInfo {
    background-color: rgb(240, 66, 182);
  }
  .productInfo .productDetail {
    display: flex;
    flex-direction: row;
  }
  .productInfo .productDetail .productData {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media only screen and (min-width: 990px) {
  .productInfo {
    background-color: rgb(175, 154, 168);
  }
}
.searchContainer {
  margin: 0 8px;
}
.searchContainer .search-box {
  border: solid 2px rgb(116, 117, 115);
  display: inline-block;
  position: relative;
  border-radius: 50px;
}
.searchContainer .search-box input[type=text] {
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  width: 20px;
  height: 20px;
  padding-left: 18px;
  border: none;
  box-sizing: border-box;
  border-radius: 50px;
  transition: width 800ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 150ms;
}
.searchContainer .search-box input[type=text]:focus {
  outline: none;
}
.searchContainer .search-box input[type=text]:focus, .searchContainer .search-box input[type=text]:not(:placeholder-shown) {
  width: 120px;
  height: 35px;
  transition: width 800ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.searchContainer .search-box input[type=text]:focus + button[type=reset], .searchContainer .search-box input[type=text]:not(:placeholder-shown) + button[type=reset] {
  bottom: 10px;
  right: 0px;
  transition: bottom 150ms ease-out 800ms, right 150ms ease-out 800ms;
}
.searchContainer .search-box input[type=text]:focus + button[type=reset]:after, .searchContainer .search-box input[type=text]:not(:placeholder-shown) + button[type=reset]:after {
  top: 0;
  right: 10px;
  opacity: 1;
  transition: top 150ms ease-out 950ms, right 150ms ease-out 950ms, opacity 150ms ease 950ms;
}
.searchContainer .search-box button[type=reset] {
  background-color: transparent;
  width: 15px;
  height: 15px;
  border: 0;
  padding: 0;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -9px;
  right: -20px;
  transition: bottom 150ms ease-out 150ms, right 150ms ease-out 150ms;
}
.searchContainer .search-box button[type=reset]:before, .searchContainer .search-box button[type=reset]:after {
  content: "";
  height: 15px;
  border-left: solid 2px rgb(116, 117, 115);
  position: absolute;
  transform: rotate(-45deg);
}
.searchContainer .search-box button[type=reset]:after {
  transform: rotate(45deg);
  opacity: 0;
  left: 5px;
  bottom: -10px;
  transition: top 150ms ease-out, right 150ms ease-out, opacity 150ms ease-out;
}

@media only screen and (min-width: 568px) {
  .searchContainer .search-box input[type=text]:focus, .searchContainer .search-box input[type=text]:not(:placeholder-shown) {
    width: 170px;
  }
}

/*# sourceMappingURL=index.css.map */
