.form{
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 500px;
    margin: 20px 0 20px 0;
    padding: 30px 20px ;
    background-color: white;
    border-radius: 8px;
    max-height: 85vh;
}
.form .testDataContainer{
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    margin: 10px 0;
    font-size: 1rem;
    background-color: rgb(253, 235, 235); 
    transition: all .5s linear;
}
.form .testDataContainer h3{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
}
.form label{
    font-size: 18px;
    color: rgb(54, 53, 54);
    font-weight: 500;
    font-family: 'Quicksand', sans-serif;
}
.form input{
    min-height: 40px;
    border-radius: 5px;
    outline: none;
    font-family: 'Quicksand', sans-serif;
    padding-left: 10px;
    border: .5px rgb(187, 176, 176) solid;
}

.form  .formBtn{
    min-height: 40px;
    border-radius: 5px;
    color:white;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    border-style: none;
    margin-top: 20px;
    background-color: #F85555;
}