.CarModal {
    position: fixed;
    z-index: 100;
    top: 0;
    bottom: 0;
    right: 0;
    width: 300px;
    padding: 18px;
    transform: translateX(300px);
    transition: all 0.5s linear;
    /* overflow: auto; */
    background: #fff;
    /* background-color: rgb(167, 109, 212); */
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .3);
}
.open{
    transform: translateX(0);
}
.icon-close{
    position: absolute;
    top: 18px;
    right: 18px;
    padding: 8px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: rgb(88, 88, 88);
    transition: .5s;
    /* background-color: blueviolet; */
}
.icon-close:hover{
    background-color: #F85555;
    color: #fff;
}