.CarModal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .3);
    padding: 50px;
    width: 20rem;
    transform: translateX(250px);
    transition: 1s;
    overflow: auto;
}
.open{
    transform: translateX(0);
}