.navProduct{
    padding: 1rem;
}
.navProduct-Link{
    text-decoration: none;
    color: #000000;
    padding: .5em;
}
.productImage{
    width: 35vh;
    display: flex;
    margin-top: 1rem;
}
.moreDate{
    margin: 2rem auto;
    padding: 2rem;
    box-shadow: 0 0 10px 0px #000000;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.productDate{
    padding: .5rem;
    margin: .5rem;
}
